.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  a {
    margin: 0 10px;
    color: #fff;
    transition: color 0.4s ease;
    padding: 20px 0;
    &:hover,
    &.active {
      color: #c353c3;
    }
  }
}
